.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #6c63ff;
  padding: 10px 30px;
}
nav a {
  text-decoration: none;
  padding: 0 15px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}
nav a:hover {
  color: #ff9684;
  
  border: none;
}
nav a.active {
  color: #ff9684;
  border-bottom: 3px solid #fff;
}
#logo img {
  width: 40%;
  border-radius: 5%;
}

.menu-icon {
  text-align: center;
  border: none;
  font-size: 40px;
}
.responsive a {
  display: flex;
  flex-direction: column;
  background-color: #6c63ff;
}

@media (max-width: 720px) {
  .navbar {
    display: none;
  }
}
@media (min-width: 720px) {
  .menu-icon {
    display: none;
  }
  .close-menu {
    display: none;
  }
}
