.signup {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.signup-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 400px;
  margin: 35px 0;
}

.signup-card-header {
  background-color: #6c63ff;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.signup-card-body {
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 8px;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 12px;
}

 button {
  background-color: #6c63ff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-bottom: 20px;
  
}

button:hover {
  background-color: #837ef0;
}
.github {
  background-color: #fff;
  color: black;
  border: 1px solid gray;
}
.google {
  background-color: #fff;
  color: black;
  border: 1px solid gray;
  margin: 10px 0;
}
.github:hover {
  background-color: rgb(224, 222, 222);
}
.google:hover {
  background-color: rgb(224, 222, 222);
}
h3 {
  margin-top: 10px;
}
a {
  text-decoration: none;
  color: #6c63ff;
}
a:hover {
  color: #8d88e2;
  border-bottom: 1px solid #8d88e2;
}
